.button {
  position: relative;
  text-decoration: none;
  color: var(--gray-900);
  border-radius: 1rem;
}

.bg {
  transition: all 0.15s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.bg.confetti {
  /* source: https://cesque.com/gaydient/ */
  background: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142));
}

.bg.fireworks {
  background: var(--gray-500);
}

.fg {
  transition: all 0.25s;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em 0.8em;
  font-weight: 900;
  letter-spacing: 0.022em;
  background: white;
  border-radius: inherit;
}

.button:hover:not(:active) .fg {
  transform: translate(0.5em, -0.5em);
}

.button:hover:active .fg {
  transform: translate(0.25em, -0.25em);
}
