/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --gray-400: #99999a;
  --gray-500: #60606a;
  --gray-600: #44444a;
  --gray-900: #11111a;

  --fast: 0.13s;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--gray-900);
  color: var(--gray-400);
}

a {
  transition: all var(--fast);
  color: white;
  text-decoration: underline var(--gray-500);
}

a:hover,
a:focus {
  text-decoration-color: var(--gray-400);
}

button {
  border: 0;
  color: inherit;
  background: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
