* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --gray-100: #fafaf9;
  --gray-200: #eeeee9;
  --gray-300: #ccccc9;
  --gray-400: #999999;
  --gray-500: #606069;
  --gray-600: #444449;
  --gray-700: #333339;
  --gray-800: #222229;
  --gray-900: #111119;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--gray-900);
  color: var(--gray-400);
}

a {
  transition: all 0.15s;
  color: white;
  text-decoration: underline var(--gray-500);
}

a:hover,
a:focus {
  text-decoration-color: var(--gray-400);
}

button {
  border: 0;
  color: inherit;
  background: inherit;
  cursor: pointer;
  font: inherit;
}

button:disabled {
  cursor: default;
}
