.header {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.diamond {
  width: 42px;
  height: 42px;
  margin: 7px;
  transform: rotate(45deg);
  background: currentcolor;
  border-radius: 7px;
}
